<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665865941975-hlbve0s4e3oeh98uvuqta9lrk7ucu131.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665865941975-hlbve0s4e3oeh98uvuqta9lrk7ucu131</string>
	<key>API_KEY</key>
	<string>AIzaSyAanzXAmxeDU5_ilKg3UjRqyxExGAPvBNc</string>
	<key>GCM_SENDER_ID</key>
	<string>665865941975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rehabcentre</string>
	<key>PROJECT_ID</key>
	<string>aashayein-c1861</string>
	<key>STORAGE_BUCKET</key>
	<string>aashayein-c1861.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665865941975:ios:081c938d6e4f37ca735192</string>
</dict>
</plist>